<%= form_with(model: website, local: true) do |form| %>
  <% if website.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(website.errors.count, "error") %> prohibited this website from being saved:</h2>

      <ul>
      <% website.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :website_name %>
  </div>

  <div class="field">
    <%= form.label :seedurl %>
    <%= form.text_field :seedurl, id: :website_seedurl %>
  </div>

  <div class="field">
    <%= form.label :default_language %>
    <%= form.text_field :default_language, id: :website_default_language %>
  </div>

  <div class="field">
    <%= form.label :schedule_every_days %>
    <%= form.text_field :schedule_every_days, id: :website_schedule_every_days %>
  </div>

   <div class="field">
    <%= form.label :schedule_time %>
    <%= form.time_select :schedule_time, id: :website_schedule_time %>
  </div>


   <div class="field">
    <%= form.label :last_refresh %>
    <%= form.date_select :last_refresh, id: :website_last_refresh %>
  </div>

  <div class="field">
    <%= form.label :graph_name %>
    <%= form.text_field :graph_name, id: :website_graph_name %>
  </div>

    <div class="field">
    <%= form.label :auto_review %>
    True <%= form.radio_button :auto_review, :true %>
    False <%= form.radio_button :auto_review, :false %>
   
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
