<p id="notice"><%= notice %></p>
<h1> Events for <%= params[:seedurl] %> </h1>
<ul>
<% @events.each do |event| %>
  <li><%= event[:rdf_uri] %>
    <%= link_to "statements", uri_statements_path(rdf_uri: event[:rdf_uri]) %> |
    <%= link_to "refresh", refresh_rdf_uri_statements_path(rdf_uri: event[:rdf_uri]) %>
    <%= link_to "review all", review_uri_statements_path(rdf_uri: event[:rdf_uri]) %>
<% end %>
</ul>
<%= link_to 'Back', websites_path %>
