
<h1>Websites</h1>
Total Statements: <%= number_to_human(@total_statements) %>
<br>
Last 24 hrs:  <%= @statements_errors %> errors

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Seedurl</th>
      <th>Default Language</th>
      <th>Schedule Every <br>(days)</th>
      <th>Schedule Time</th>
      <th>Last Refresh</th>
      <th>Graph Name</th>
      <th> Webpages</th>
      <th>Statements</th>
      <th>24 hr refreshed</th>
       <th>24 hr updated</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @websites.each do |website| %>
      <tr>
        <td><%= link_to  website.name, website %></td>
        <td><%= website.seedurl %></td>
         <td><%= website.default_language %></td>
        <td><%= website.schedule_every_days %></td>
        <td><%= display_time(website.schedule_time) %></td>
        <td><%= website.last_refresh %></td>
        <td><%= website.graph_name %></td>
        <td><%=  @webpages[website] %></td>
        <td><%=  @statements_grouped[website.seedurl] %>
        <td><%=  @statements_refreshed_24hr[website.seedurl] %>
        <td><%=  @statements_updated_24hr[website.seedurl] %>

        <td><%= link_to 'Show', website %></td>

        <td><%= link_to 'Export', graphs_website_queue_path(seedurl: website.seedurl) %></td>
        <td><%= link_to 'Edit', edit_website_path(website) %></td>
        <td><%= link_to 'Destroy', website, data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' } %></td>
        </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Website', new_website_path %>
