
<h1> Places for <%= params[:seedurl] %> </h1>
<ul>
<% @places.each do |event| %>
  <li><%= event[:rdf_uri] %>
    <%= link_to "statements", show_resources_path(rdf_uri: event[:rdf_uri]) %> |
    <%= link_to "refresh", refresh_rdf_uri_statements_path(rdf_uri: event[:rdf_uri], method: :patch) %>
<% end %>
</ul>
<%= link_to 'Back', websites_path %>
