<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @website.name %> <%= link_to "Console", "#{get_console_url_per_environment}/events?seedurl=#{cookies[:seedurl]}" %>
</p>

<p>
  <strong>Seedurl:</strong>
  <%= @website.seedurl %>
</p>

<p>
  <strong>Default Language:</strong>
  <%= @website.default_language %>
</p>

<p>
  <strong>graph_name:</strong>
  <%= @website.graph_name %>
</p>


<%= link_to 'Add webpages from Resource', lists_path(seedurl: @website.seedurl) %> | 
<%= link_to 'Edit', edit_website_path(@website) %> |
<%= link_to 'Back', websites_path %>


<h2>Events</h2>
<div style="margin-left: 30px">
<%= link_to 'Upcoming events json', website_events_path(@website.seedurl, format: :json) %> | 
<%= link_to 'All events json', website_events_path(@website.seedurl, startDate: "2018-01-01", format: :json) %>
<hr>
<h3> REFRESH USING WEBPAGE CACHE</h3>
<%= link_to 'Refresh UPCOMING events', nil %> |
<%= link_to 'Refresh all past and future events', refresh_webpages_batch_jobs_path(seedurl: @website.seedurl) %> 

<hr>
<h3> CRAWL & REFRESH</h3>
<%= link_to 'Crawl (24 hr cache) and refresh UPCOMING events',  nil %> |
<%= link_to 'FORCE new Crawl and refresh UPCOMING events',  nil %>


<hr>
<h3> PUBLISH</h3>
<%= link_to 'PUSH to artsdata.ca', nil %>
<hr>
</div>


<h3 style="color:red">  DESTROY </h3>
<div style="display:block;float: left">
<%=  button_to 'Destroy all statements', delete_all_statements_websites_path(id: @website.id), method: :delete, data: { confirm: "Are you sure to delete all #{@website.seedurl} statements ?" } %> 

 <%= button_to 'Destroy all webpages', delete_all_webpages_websites_path(id: @website.id), method: :delete, data: { confirm: "Are you sure to delete all webpages for #{@website.seedurl} ?" } %> 
    

