

<p>
  <strong>Name:</strong>
  <%= @website.name %> <%= link_to "Console", "#{get_console_url_per_environment}/events?seedurl=#{cookies[:seedurl]}" %>
</p>

<p>
  <strong>Seedurl:</strong>
  <%= @website.seedurl %>
</p>

<p>
  <strong>Default Language:</strong>
  <%= @website.default_language %>
</p>

<p>
  <strong>graph_name:</strong>
  <%= @website.graph_name %>
</p>

<%= link_to 'Add webpages from Resource', lists_path(seedurl: @website.seedurl) %> | 
<%= link_to 'Edit', edit_website_path(@website) %> |
<%= link_to 'Back', websites_path %>


<h2>Events</h2>

<%= link_to 'Refresh all past and future events', refresh_webpages_batch_jobs_path(seedurl: @website.seedurl) %> 

<h3 style="color:red">  DESTROY </h3>
<div style="display:block;float: left">
<%=  button_to 'Destroy all statements', delete_all_statements_websites_path(id: @website.id), method: :delete, data: { confirm: "Are you sure to delete all #{@website.seedurl} statements ?" } %> 

 <%= button_to 'Destroy all webpages', delete_all_webpages_websites_path(id: @website.id), method: :delete, data: { confirm: "Are you sure to delete all webpages for #{@website.seedurl} ?" } %> 
    

