

<p>
  <strong>Name:</strong>
  <%= @website.name %> 
</p>

<p>
  <strong>Seedurl:</strong>
  <%= @website.seedurl %>
</p>

<p>
  <strong>Default Language:</strong>
  <%= @website.default_language %>
</p>

<p>
  <strong>graph_name:</strong>
  <%= @website.graph_name %>
</p>


<%= link_to 'Edit', edit_website_path(@website) %> |
<%= link_to 'Back', websites_path %>
<hr>
<h1> Jobs</h1>
<%= link_to 'View resources with lists', lists_path(seedurl: @website.seedurl) %> 
<br>
<%= link_to 'Export step-by-step', graphs_website_path(seedurl: @website.seedurl) %>


<h1>Batch Jobs</h1>
<%= link_to 'Refresh upcoming events', refresh_upcoming_events_batch_jobs_path(seedurl: @website.seedurl) %> 
<br>
<%= link_to 'Refresh lists and add webpages', check_for_new_webpages_batch_jobs_path(seedurl: params[:seedurl]) %>
<br>
<%= link_to 'Refresh all Webpages (all classes, all dates)', refresh_webpages_batch_jobs_path(seedurl: @website.seedurl) %> 
<br>
<%= link_to 'Export Events to Artsdata', graphs_website_queue_path(seedurl: @website.seedurl) %>


<h3 style="color:red">  DESTROY </h3>
<div style="display:block;float: left">
<%=  button_to 'Destroy all statements', delete_all_statements_websites_path(id: @website.id), method: :delete, data: { confirm: "Are you sure to delete all #{@website.seedurl} statements ?" } %> 

 <%= button_to 'Destroy all webpages', delete_all_webpages_websites_path(id: @website.id), method: :delete, data: { confirm: "Are you sure to delete all webpages for #{@website.seedurl} ?" } %> 
 <%= button_to 'Destroy all EVENT webpages', delete_all_event_webpages_websites_path(id: @website.id), method: :delete, data: { confirm: "Are you sure to delete all EVENT webpages for #{@website.seedurl} ?" } %> 
 

