<p id="notice"><%= notice %></p>

<h1> Lists for <%= params[:seedurl] %></h1>

<br>
<% @uris.each do |uri| %>
    <%= uri %> 
     <%= link_to "Statements",  statements_path(rdf_uri: uri) %> | 
    <%= link_to "Batch add webpages",  add_webpages_batch_jobs_path(rdf_uri: uri) %>
    <br>
<% end %>