<h1> Lists for <%= params[:seedurl] %></h1>

<br>
<table>

<% @resource_lists.each do |resource_list| %>
<tr>
<td>
    <%= resource_list %> 
</td>
<td>
     <%= link_to "Statements",  statements_path(rdf_uri: resource_list["uri"]) %> | 
     Batch job: 
    <%= link_to "add webpages",  add_webpages_batch_jobs_path(rdf_uri:  resource_list["uri"]) %> 
 </td>
 </tr>  
   
<% end %>


</table>
<hr>
<%= link_to 'Refresh lists and add webpages', check_for_new_webpages_batch_jobs_path(seedurl: params[:seedurl]) %>