<p id="notice"><%= notice %></p>

<h1>Jsonld Outputs</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Frame</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @jsonld_outputs.each do |jsonld_output| %>
      <tr>
        <td><%= jsonld_output.name %></td>
        <td><%= jsonld_output.frame&.truncate(20) %></td>
        <td><%= link_to 'Show', jsonld_output %></td>
        <td><%= link_to 'Edit', edit_jsonld_output_path(jsonld_output) %></td>
        <td><%= link_to 'Destroy', jsonld_output, data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Jsonld Output', new_jsonld_output_path %>
