<%= form_with(model: source, local: true) do |form| %>
  <% if source.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(source.errors.count, "error") %> prohibited this source from being saved:</h2>

      <ul>
      <% source.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= @rdfs_class_name %> <%= form.label :property_id %>
    <%= form.collection_select(:property_id, @properties.where(rdfs_class_id: @rdfs_class_id), :id, :label, {:prompt => false}) %>
  </div>

  <div class="field" >
    <%= form.label :algorithm_value %>
    <%= form.text_area :algorithm_value, id: :source_algorithm_value, cols: 60, rows:4, style:"font-size: 18pt"%>
  </div>

 <div class="field">
    <%= form.label :label %>
    <%= form.text_field :label, id: :source_label, size: 60 %>
    User friendly description of where the data is coming from.
  </div>


  <div class="field">
    <%= form.label :language %>
    <%= form.text_field :language, id: :source_language, size: 10%>
    Leave blank for linking URIs and photos that are language independant.
  </div>


  <div class="field" style="margin: 0 5px 0 5px;display:block; float:left;">
    <%= form.label :selected %>
    <%= form.check_box :selected, id: :source_selected %>
  </div>


<div class="field"  style="margin: 0 5px 0 5px;display:block; float:left;">
    <%= form.label :render_js %>
    <%= form.check_box :render_js, id: :source_render_js %>
  </div>

 <div class="field">
    <%= form.label :auto_review %>
    <%= form.check_box :auto_review, id: :source_auto_review %>
  </div>

  <div style="display:block; float:clear;"></div>
  
  <div class="field">
    <%= form.label :website_id %>
    <%= form.collection_select(:website_id, @websites, :id, :seedurl, {selected: @websites.where(seedurl: params[:seedurl]).first&.id }) %>
  </div>

  

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
