<%= form_with(model: source, local: true) do |form| %>
  <% if source.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(source.errors.count, "error") %> prohibited this source from being saved:</h2>

      <ul>
      <% source.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :algorithm_value %>
    <%= form.text_field :algorithm_value, id: :source_algorithm_value %>
  </div>

  <div class="field">
    <%= form.label :language %>
    <%= form.text_field :language, id: :source_language %>
  </div>

  <div class="field">
    <%= form.label :selected %>
    <%= form.check_box :selected, id: :source_selected %>
  </div>

  <div class="field">
    <%= form.label :selected_by %>
    <%= form.text_field :selected_by, id: :source_selected_by %>
  </div>

  <div class="field">
    <%= form.label :next_step %>
    <%= form.text_field :next_step, id: :source_next_step %>
  </div>

  <div class="field">
    <%= form.label :render_js %>
    <%= form.check_box :render_js, id: :source_render_js %>
  </div>

  <div class="field">
    <%= form.label :property_id %>
    <%= form.text_field :property_id, id: :source_property_id %>
  </div>

  <div class="field">
    <%= form.label :website_id %>
    <%= form.text_field :website_id, id: :source_website_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
