<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Next step</th>
      <th>Property</th>
      <th>Algorithm value</th>
      <th>Selected</th>
      <th>Selected by</th>
      <th>Render js</th>
      <th>Website</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sources.each do |source| %>
      <tr>
        <td><%= source.id %></td>
        <td><%= source.next_step %></td>
        <td><%= source.property.rdfs_class.name %> <%= source.property.label  + "(#{source.property_id})" %> <%= "@" + source.language if !source.language.blank?%></td>
        <td><%= source.algorithm_value %></td>
        <td><%= source.selected %></td>
        <td><%= source.selected_by %></td>
        <td><%= source.render_js %></td>
        <td><%= source.website.seedurl + "(#{source.website_id})" %></td>

        <td><%= link_to 'Show', source %></td>
        <td><%= link_to 'Edit', edit_source_path(source) %></td>
        <td><%= link_to 'Destroy', source, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>

    <% end %>
  </tbody>
</table>
