<table>
  <thead>
    <tr>
      <th>ID</th>

      <th>Property</th>
       <th>Label</th>
      <th>Algorithm value</th>
      <th>Selected</th>
     
      <th>Render js</th>
       <th>Auto review</th>
      <th>Website</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sources.each do |source| %>
      <tr <%= "style=color:red;" if !source.selected %>>
        <td><%= source.id %></td>

        <td><%= source.property.rdfs_class.name if  source.property.rdfs_class %> <%= source.property.label  + "(#{source.property_id})" %> <%= "@" + source.language if !source.language.blank?%></td>
        <td><%= source.label %></td>
        <td><%= source.algorithm_value %></td>
        <td <%= "style=bakground-color:pink;" if !source.selected %>><%= source.selected %></td>
        <td><%= source.render_js %></td>
         <td><%= source.auto_review %></td>
        <td><%= source.website.seedurl + "(#{source.website_id})" %></td>

        <td><%= link_to 'Show', source %></td>
        <td><%= link_to 'Edit', edit_source_path(source) %></td>
        <td><%= link_to 'Destroy', source, data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' } %></td>
        <td><%= link_to 'Report', source_reports_path(source_id: source.id) %></td>
      </tr>

    <% end %>
  </tbody>
</table>
