<p id="notice"><%= notice %></p>

<h1>Sources</h1>

<table>
  <thead>
    <tr>
      <th>Algorithm value</th>
      <th>Selected</th>
      <th>Selected by</th>
      <th>Source</th>
      <th>Website</th>
      <th>Predicate</th>
      <th>Render js</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sources.each do |source| %>
      <tr>
        <td><%= source.algorithm_value %></td>
        <td><%= source.selected %></td>
        <td><%= source.selected_by %></td>
        <td><%= source.source %></td>
        <td><%= source.website %></td>
        <td><%= source.predicate %></td>
        <td><%= source.render_js %></td>
        <td><%= link_to 'Show', source %></td>
        <td><%= link_to 'Edit', edit_source_path(source) %></td>
        <td><%= link_to 'Destroy', source, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Source', new_source_path %>
