<p id="notice"><%= notice %></p>

<p>
  <strong>Algorithm value:</strong>
  <%= @source.algorithm_value %>
</p>

<p>
  <strong>Selected:</strong>
  <%= @source.selected %>
</p>

<p>
  <strong>Selected by:</strong>
  <%= @source.selected_by %>
</p>

<p>
  <strong>Render js:</strong>
  <%= @source.render_js %>
</p>

<p>
  <strong>Predicate:</strong>
  <%= @source.predicate %>
</p>

<p>
  <strong>Next source:</strong>
  <%= @source.next_source_id %>
</p>

<p>
  <strong>Website:</strong>
  <%= @source.website %>
</p>

<%= link_to 'Edit', edit_source_path(@source) %> |
<%= link_to 'Back', sources_path %>
