<p id="notice"><%= notice %></p>

<p>
  <strong>Algorithm value:</strong>
  <%= @source.algorithm_value %>
</p>

<p>
  <strong>Language:</strong>
  <%= @source.language %>
</p>

<p>
  <strong>Selected:</strong>
  <%= @source.selected %>
</p>

<p>
  <strong>Selected by:</strong>
  <%= @source.selected_by %>
</p>

<p>
  <strong>Next step:</strong>
  <%= @source.next_step %>
</p>

<p>
  <strong>Render js:</strong>
  <%= @source.render_js %>
</p>

<p>
  <strong>Property:</strong>
  <%= @source.property %>
</p>

<p>
  <strong>Website:</strong>
  <%= @source.website %>
</p>

<%= link_to 'Test scrape', test_scrape_source_path(@source) %> |
<%= link_to 'Edit', edit_source_path(@source) %> |
<%= link_to 'Back', sources_path %>
