<p id="notice"><%= notice %></p>

<p>
  <strong>Algorithm value:</strong>
  <%= @source.algorithm_value %>
</p>

<p>
  <strong>Label:</strong>
  <%= @source.label %>
</p>

<p>
  <strong>Language:</strong>
  <%= @source.language %>
</p>

<p>
  <strong>Selected:</strong>
  <%= @source.selected %>
</p>

<p>
  <strong>Selected by:</strong>
  <%= @source.selected_by %>
</p>

<p>
  <strong>Next step:</strong>
  <%= @source.next_step %>
</p>

<p>
  <strong>Render js:</strong>
  <%= @source.render_js %>
</p>

<p>
  <strong>Property:</strong>
  <%= @source.property.rdfs_class.name %> <%= @source.property.label %>
</p>

<p>
  <strong>Website:</strong>
  <%= @source.website.seedurl %>
</p>

<% if @source.statements.first.present? %>
  <%= link_to 'Test', refresh_statement_path(@source.statements.first), method: :patch %> |
<% else %>
 <%= link_to 'Create',refresh_rdf_uri_statements_path(rdf_uri: @source.website.webpages.where(website: @source.website, rdfs_class_id:1).first.rdf_uri), method: :patch %> | 
<% end %>
<%= link_to 'Edit', edit_source_path(@source) %> |
<%= link_to 'Back', sources_path %>
