

<table>
  <thead>
    <tr>
      <th>Rdfs class</th>
      <th>Language</th>
      <th>Url</th>
      <th>Publishable</th>

      <th>Rdf uri</th>

      <th>Website</th>
      <th>Archive Date</th>
      <th colspan="6"></th>
    </tr>
  </thead>

  <tbody>
    <% @webpages.each do |webpage| %>
      <tr>
        <td><%= webpage.rdfs_class.name %></td>
        <td><%= webpage.language %></td>
        <td><%= webpage.url %></td>
        <td><%= @publishable[webpage.id] %> </td>

        <td><%= webpage.rdf_uri %></td>

        <td><%= webpage.website.seedurl %></td>
        <td><%= webpage.archive_date %></td>

        <td><%= link_to 'statements', webpage_statements_path(url:webpage.url)  %></td>
        <td><%= link_to 'refresh', refresh_webpage_statements_path(url: webpage.url), method: :patch  %></td>
        <td> <%= link_to "JSON-LD", structured_data_event_markup_path(url: webpage.url, format: :json) %></td>
        <td><%= link_to 'Show', webpage %></td>
        <td><%= link_to 'Edit', edit_webpage_path(webpage) %></td>
        <td><%= link_to 'Destroy', webpage, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
