<table>
  <thead>
    <tr>
      <th>Rdfs class</th>
      <th>Language</th>
      <th>Url</th>

      <th>Rdf uri</th>

      <th>Website</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @webpages.each do |webpage| %>
      <tr>
        <td><%= webpage.rdfs_class.name %></td>
        <td><%= webpage.language %></td>
        <td><%= webpage.url %></td>

        <td><%= webpage.rdf_uri %></td>

        <td><%= webpage.website.seedurl %></td>
        <td><%= link_to 'statements', webpage_statements_path(url:webpage.url)  %></td>
        <td><%= link_to 'refresh', refresh_webpage_statements_path(url:webpage.url)  %></td>
        <td><%= link_to 'Show', webpage %></td>
        <td><%= link_to 'Edit', edit_webpage_path(webpage) %></td>
        <td><%= link_to 'Destroy', webpage, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
