

<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Rdfs class</th>
      <th>Lang</th>
      <th>Url</th>
      <th>Publishable</th>

      <th>Rdf uri</th>

      
      <th>Archive Date</th>
      <th colspan="6"></th>
    </tr>
  </thead>

  <tbody>
    <% @webpages.each do |webpage| %>
      <tr>
        <td><%= webpage.id %></td>
        <td><%= webpage.rdfs_class.name %></td>
        <td><%= webpage.language %></td>
        <td><%= webpage.url %></td>
        <td><%= @publishable[webpage.id] %> </td>

        <td><%= webpage.rdf_uri %></td>

       
        <td><%= webpage.archive_date %></td>

        <td><%= link_to 'statements', statements_path(rdf_uri:webpage.rdf_uri)  %></td>
      
       
        <td><%= link_to 'Show', webpage %></td>
        <td><%= link_to 'Edit', edit_webpage_path(webpage) %></td>
        <td><%= link_to 'Destroy', webpage, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
