<p id="notice"><%= notice %></p>

<h1>Webpages</h1>
<%= will_paginate @webpages %>
<%= render 'view_table' %>
<br>

<%= link_to 'New Webpage', new_webpage_path %>

<%= @publishable.inspect %>

<%= @locations_hash.inspect %>

<br>

<%= @startDates_hash.inspect %>

<br>
<%= @titles_hash.inspect %>
