<p id="notice"><%= notice %></p>

<h1> Webpage </h1>
<p>
  <strong>Url:</strong>
  <%= @webpage.url %>
</p>

<p>
  <strong>created:</strong>
  <%= @webpage.created_at %>
</p>

<p>
  <strong>updated:</strong>
  <%= @webpage.updated_at %>
</p>

<p>
  <strong>Language:</strong>
  <%= @webpage.language %>
</p>

<p>
  <strong>Rdf uri:</strong>
  <%= @webpage.rdf_uri %>
</p>

<p>
  <strong>Archive Date:</strong>
  <%= @webpage.archive_date %>
</p>

<p>
  <strong>Rdfs class:</strong>
  <%= @webpage.rdfs_class.name %>
</p>

<p>
  <strong>Website:</strong>
  <%= @webpage.website.seedurl %>
</p>

<%= link_to 'statements', statements_path(rdf_uri:@webpage.rdf_uri)  %> |
<%= link_to 'refresh', refresh_webpage_statements_path(url: @webpage.url), method: :patch  %> |

 <%= link_to "JSON-LD", structured_data_event_markup_path(url: @webpage.url, format: :json) %> |
 <%= link_to "JSON-LD V2", graphs_webpage_event_path(url: @webpage.url, format: :html) %> |

<%= link_to 'Edit', edit_webpage_path(@webpage) %> |
<%= link_to 'Back', webpages_path %>
