<p id="notice"><%= notice %></p>

<p>
  <strong>Url:</strong>
  <%= @webpage.url %>
</p>

<p>
  <strong>Language:</strong>
  <%= @webpage.language %>
</p>

<p>
  <strong>Rdf uri:</strong>
  <%= @webpage.rdf_uri %>
</p>

<p>
  <strong>Rdfs class:</strong>
  <%= @webpage.rdfs_class %>
</p>

<p>
  <strong>Website:</strong>
  <%= @webpage.website %>
</p>

<%= link_to 'Edit', edit_webpage_path(@webpage) %> |
<%= link_to 'Back', webpages_path %>
