

<h1> Webpage </h1>
<p>
  <strong>Url:</strong>
  <%= @webpage.url %>
</p>

<p>
  <strong>created:</strong>
  <%= @webpage.created_at %>
</p>

<p>
  <strong>updated:</strong>
  <%= @webpage.updated_at %>
</p>

<p>
  <strong>Language:</strong>
  <%= @webpage.language %>
</p>

<p>
  <strong>Rdf uri:</strong>
  <%= @webpage.rdf_uri %>
</p>

<p>
  <strong>Archive Date:</strong>
  <%= @webpage.archive_date %>
</p>

<p>
  <strong>Rdfs class:</strong>
  <%= @webpage.rdfs_class.name %>
</p>

<p>
  <strong>Website:</strong>
  <%= @webpage.website.seedurl %>
</p>

<%= link_to 'statements', statements_path(rdf_uri:@webpage.rdf_uri)  %> |
<%= link_to 'refresh', refresh_webpage_statements_path(url: @webpage.url), method: :patch  %> |

 <%= link_to "JSON-LD", structured_data_event_markup_path(url: @webpage.url, format: :json) %> |
 <%= link_to "JSON-LD V2", graphs_webpage_event_path(url: @webpage.url, format: :html) %> |
 <%= link_to "JSON-LD V2 JSON-LD", graphs_webpage_event_path(url: @webpage.url, format: :jsonld) %> |
<%= link_to "Test Condenser on SDTT", "https://search.google.com/structured-data/testing-tool/u/0/#url=https://footlight-condenser.herokuapp.com/graphs/webpage/event.jsonld?url=#{CGI.escape(@webpage.url)}" %> |
<%= link_to "Test Code Snippet API on SDTT", "https://search.google.com/structured-data/testing-tool/u/0/#url=https://graph.culturecreates.com/semantic/v2/webpage?url=#{CGI.escape(@webpage.url)}" %> |

<%= link_to 'Edit', edit_webpage_path(@webpage) %> |
<%= link_to 'Back', webpages_path %>
