<h1> Website dump </h1>

Site: <%= @site %> 

<br> 

<br>
<%= @publishable.count  %> Publishable events 

<%= form_with url: databus_create_path do |form| %>
  <%= form.hidden_field :jsonld, value: @dump %>
    <%= form.hidden_field :artifact, value: @site %>
    <%= form.hidden_field :version, value: Date.today.iso8601 %>
    <%= form.text_field :file, value:  "#{@site}.json"%>
     <%= form.submit %>

<% end %>
<%= link_to "view saved artifacts", databus_index_path %>

<br> <br> 

Sample URI:
<%=  debug @publishable.first  %>
<br>

Graph: <%=  debug JSON.parse(@dump) %>
