<%= form_with(model: predicate, local: true) do |form| %>
  <% if predicate.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(predicate.errors.count, "error") %> prohibited this predicate from being saved:</h2>

      <ul>
      <% predicate.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :label %>
    <%= form.text_field :label, id: :predicate_label %>
  </div>

  <div class="field">
    <%= form.label :language %>
    <%= form.text_field :language, id: :predicate_language %>
  </div>

  <div class="field">
    <%= form.label :object_datatype %>
    <%= form.text_field :object_datatype, id: :predicate_object_datatype %>
  </div>

  <div class="field">
    <%= form.label :uri %>
    <%= form.text_field :uri, id: :predicate_uri %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
