<p id="notice"><%= notice %></p>

<h1>Predicates</h1>

<table>
  <thead>
    <tr>
      <th>Label</th>
      <th>Language</th>
      <th>Object datatype</th>
      <th>Uri</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @predicates.each do |predicate| %>
      <tr>
        <td><%= predicate.label %></td>
        <td><%= predicate.language %></td>
        <td><%= predicate.object_datatype %></td>
        <td><%= predicate.uri %></td>
        <td><%= link_to 'Show', predicate %></td>
        <td><%= link_to 'Edit', edit_predicate_path(predicate) %></td>
        <td><%= link_to 'Destroy', predicate, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Predicate', new_predicate_path %>
