<p id="notice"><%= notice %></p>

<h1>Properties</h1>

<table>
  <thead>
    <tr>
      <th>Label</th>
      <th>Language</th>
      <th>Value datatype</th>
      <th>Uri</th>
      <th>Rdfs class</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @properties.each do |property| %>
      <tr>
        <td><%= property.label %></td>
        <td><%= property.language %></td>
        <td><%= property.value_datatype %></td>
        <td><%= property.uri %></td>
        <td><%= property.rdfs_class.name %></td>
        <td><%= link_to 'Show', property %></td>
        <td><%= link_to 'Edit', edit_property_path(property) %></td>
        <td><%= link_to 'Destroy', property, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Property', new_property_path %>
