

<p>
  <strong>Label:</strong>
  <%= @property.label %>
</p>

<p>
  <strong>Value datatype:</strong>
  <%= @property.value_datatype %>
</p>

<p>
  <strong>Expected Class:</strong>
  <%= @property.expected_class %>
</p>


<p>
  <strong>Uri:</strong>
  <%= @property.uri %>
</p>

<p>
  <strong>Rdfs class:</strong>
  <%= @property.rdfs_class.name %> (<%= @property.rdfs_class.id %>)
</p>

<%= link_to 'Edit', edit_property_path(@property) %> |
<%= link_to 'Back', properties_path %>
