<%= form_with(model: statement, local: true) do |form| %>
  <% if statement.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(statement.errors.count, "error") %> prohibited this statement from being saved:</h2>

      <ul>
      <% statement.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :cache %>
    <%= form.text_field :cache, id: :statement_cache %>
  </div>

  <div class="field">
    <%= form.label :status %>
    <%= form.text_field :status, id: :statement_status %>
  </div>

  <div class="field">
    <%= form.label :selected_individual %>
    <%= form.check_box :selected_individual, id: :statement_selected_individual %>
  </div>

  <div class="field">
    <%= form.label :status_origin %>
    <%= form.text_field :status_origin, id: :statement_status_origin %>
  </div>

  <div class="field">
    <%= form.label :cache_refreshed %>
    <%= form.datetime_select :cache_refreshed, id: :statement_cache_refreshed %>
  </div>

  <div class="field">
    <%= form.label :cache_changed %>
    <%= form.datetime_select :cache_changed, id: :statement_cache_changed %>
  </div>

  <div class="field">
    <%= form.label :source_id %>
    <%= form.text_field :source_id, id: :statement_source_id %>
  </div>

  <div class="field">
    <%= form.label :webpage_id %>
    <%= form.text_field :webpage_id, id: :statement_webpage_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
