<h2>Algorithm Trace</h2>

<table class="trace-table">
  <thead>
    <tr>
      <th>Step</th><th>Type</th><th>Code</th><th>Result</th><th>Time (ms)</th><th>Error</th>
    </tr>
  </thead>
  <tbody>
    <% @dsl_trace.each do |s| %>
      <tr class="trace-row <%= s[:type] %>">
        <td><%= s[:step] %></td>
        <td><%= s[:type] %></td>
        <td><%= trace_truncated_tooltip(s[:code], length: 60) %></td>
        <td><%= trace_truncated_tooltip(Array(s[:output_preview]).join(", "), length: 80) %></td>
        <td><%= s[:duration_ms] %></td>
        <td class="<%= 'error' if s[:error_class].present? %>">
          <%= s[:error_class].present? ? "#{s[:error_class]}: #{s[:error_message]}" : "" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>