<p id="notice"><%= notice %></p>
<ul>
<% @statements.each do |statement| %>
  <li><%= statement.property[:label] %>@<%= statement.property[:language] %>  --> <%= statement[:cache] %> 
<% end %>
</ul>
<%= link_to 'Back', statements_path %>
