<p id="notice"><%= notice %></p>
<ul>
  <% @statements.each do |statement| %>
    <%= statement.source.selected ? "<li>".html_safe : "<ul><li>".html_safe  %>
      <%= statement.source.property[:label] %>@<%= statement.source[:language] %>
     --> <%= statement[:cache] %>
     <%= statement.source.selected ? "" : "</ul>".html_safe %>
  <% end %>
</ul>
