

<h1><%= @statements.count %> Statements</h1>
<% if params[:rdf_uri].present? %>
  <p> Showing statements for resource <%= params[:rdf_uri] %> <%=  link_to "Refresh URI", refresh_rdf_uri_statements_path(rdf_uri: params[:rdf_uri]), method: :patch %> | <%=  link_to "Crawl URI(1 hr cache)", refresh_rdf_uri_statements_path(rdf_uri: params[:rdf_uri], force_scrape_every_hrs: 1), method: :patch %> | <%= link_to "Console", "#{get_console_url_per_environment}/events/#{params[:rdf_uri]}" %>
      </p>
<% elsif params[:seedurl] &&  params[:seedurl] != "all" %>
 <p> Showing statements for website <%= params[:seedurl] %> | <%= link_to "Console", "#{get_console_url_per_environment}/events?seedurl=#{params[:seedurl]}" %>
      </p>
<% end %>

<br>
<%= will_paginate @statements %>
<br>

<%= form_tag(batch_update_statements_path) do -%>
<br>
seedurl(all): <%= text_field_tag 'seedurl',  params[:seedurl] %> 

rdf_uri:  <%=text_field_tag 'rdf_uri',   params[:rdf_uri], size: 60 %>

<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Property<br> <%=text_field_tag 'prop',  params[:prop], size: 6 %></th>
       <th>Source<br> <%=text_field_tag 'source', params[:source], size: 6 %></th>
      <th>Cache<br><%=text_field_tag 'cache', params[:cache],size: 50 %></th>
      <th>Status<br> <%=text_field_tag 'status', params[:status], size: 6 %></th>
       <th>Manual<br><%=text_field_tag 'manual', params[:manual], size: 6 %></th>
      <th>Selected Source<br> <%=text_field_tag 'selected', params[:selected] ,size:  6%></th>
      <th>Selected Individual<br> <%=text_field_tag 'selected_individual', params[:selected_individual], size: 6 %></th>
      <th>Status origin<br></th>
      <th>Cache refreshed<br></th>
      <th>Cache changed<br></th>   
      <th colspan="4"></th>
    </tr>
  </thead>

<%= submit_tag 'View' %>
Update:
<%= text_field_tag 'update_data','',size: 50, placeholder: 'selected: true, cache: ["one"]' %>
 <%= submit_tag 'Update' %>
<br>
 <%= submit_tag 'Review All' %>
<%= submit_tag 'Refresh All' %>
<% end -%>

  <tbody>
    <% @statements.each do |statement| %>
      <tr  <%= "style=color:red;" if !statement.source.selected %> >
        <td><%= statement.id %></td>
        <td><%= statement.source.property.label %>(<%=statement.source.property.id%>) <%= format_language statement.source.language%></td>
          <td><%= statement.source.id %></td>
        <td><%= statement.cache %></td>
        <td><%= statement.status %></td>
         <td><%= statement.manual %></td>
        <td <%= "style=background-color:pink;" if !statement.source.selected %>><%= statement.source.selected %></td>
        <td <%= "style=background-color:green;" if statement.selected_individual %>><%= statement.selected_individual %></td>
        <td><%= statement.status_origin %></td>
        <td><%= statement.cache_refreshed %></td>
        <td><%= statement.cache_changed %></td>

        <td><%= link_to 'Show', statement %></td>
        <td><%= link_to 'Edit', edit_statement_path(statement) %></td>
        <td><%= link_to 'Destroy', statement, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td><%= link_to 'Report', source_reports_path(source_id: statement.source) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Statement', new_statement_path %>
