<p id="notice"><%= notice %></p>

<p>
  <strong>Cache:</strong>
  <%= @statement.cache %>
</p>

<p>
  <strong>Status:</strong>
  <%= @statement.status %>
</p>

<p>
  <strong>Status origin:</strong>
  <%= @statement.status_origin %>
</p>

<p>
  <strong>Cache refreshed:</strong>
  <%= @statement.cache_refreshed %>
</p>

<p>
  <strong>Cache changed:</strong>
  <%= @statement.cache_changed %>
</p>

<p>
  <strong>Source:</strong>
  <%= @statement.source.algorithm_value %>
</p>

<p>
  <strong>Webpage:</strong>
  <%= @statement.webpage.url %>
</p>

<%= link_to 'Refresh', refresh_statement_path(@statement) %> |
<%= link_to 'Edit', edit_statement_path(@statement) %> |
<%= link_to 'Back', statements_path %>
