<p id="notice"><%= notice %></p>

<p>
  <strong>Cache:</strong>
  <%= @statement.cache %>
</p>

<p>
  <strong>Status:</strong>
  <%= @statement.status %>
</p>

<p>
  <strong>Status origin:</strong>
  <%= @statement.status_origin %>
</p>

<p>
  <strong>Cache refreshed:</strong>
  <%= @statement.cache_refreshed %>
</p>

<p>
  <strong>Cache changed:</strong>
  <%= @statement.cache_changed %>
</p>

<p>
  <strong>Source:</strong>
  <%= @statement.source.algorithm_value %>
</p>

<p>
  <strong>Webpage:</strong>
  <%= @statement.webpage.url %>
</p>

<p>
  <strong>updated:</strong>
  <%= @statement.updated_at %>
</p>

<%= form_with(model: @statement, local: true) do |form| %>
  <%= form.hidden_field :status, id: :statement_status, value: "OK"%>
  <div class="actions">
    <%= form.submit "Reviewed"%>
  </div>
<% end %>

<%= form_with(model: @statement, local: true) do |form| %>
  <%= form.hidden_field :status, id: :statement_status, value: "Not reviewed"%>
  <div class="actions">
    <%= form.submit "Not Reviewed"%>
  </div>
<% end %>

<%= form_with(model: @statement, local: true) do |form| %>

  <%= form.text_field :cache, id: :statement_cache%>
  <div class="actions">
    <%= form.submit "Not Reviewed"%>
  </div>
<% end %>


<%= link_to 'Refresh', refresh_statement_path(@statement) %> |
<%= link_to 'Edit', edit_statement_path(@statement) %> |
<%= link_to 'Back', statements_path %>
