<p id="notice"><%= notice %></p>

<p>
  <strong>Cache:</strong>
  <pre>
    <%= @statement.cache %>
  </pre>
</p>

<p>
  <strong>Status:</strong>
  <%= @statement.status %>
</p>

<p>
  <strong>Status origin:</strong>
  <%= @statement.status_origin %>
</p>

<p>
  <strong>Cache refreshed:</strong>
  <%= @statement.cache_refreshed %>
</p>

<p>
  <strong>Cache changed:</strong>
  <%= @statement.cache_changed %>
</p>

<p>
  <strong>Source:</strong>
  <%= @statement.source.algorithm_value %>
</p>

<p>
  <strong>Webpage:</strong>
  <%= @statement.webpage.url %>
</p>

<p>
  <strong>updated:</strong>
  <%= @statement.updated_at %>
</p>


<hr>
<p>
Change status:


  <%= form_with(model: @statement, local: true,  html: { style:'display:inline;' }) do |form| %>
    <%= form.hidden_field :status, id: :statement_status, value: "initial"%>
      <%= form.submit "Initial"%>
  <% end %>

  <%= form_with(model: @statement, local: true,  html: { style:'display:inline;' }) do |form| %>
    <%= form.hidden_field :status, id: :statement_status, value: "missing"%>
   
      <%= form.submit "Missing"%>
    
  <% end %>

   <%= form_with(model: @statement, local: true,  html: { style:'display:inline;' }) do |form| %>
    <%= form.hidden_field :status, id: :statement_status, value: "ok"%>
   
      <%= form.submit "Ok"%>
   
  <% end %>

  <%= form_with(model: @statement, local: true,  html: { style:'display:inline;' }) do |form| %>
    <%= form.hidden_field :status, id: :statement_status, value: "problem"%>
  
      <%= form.submit "Problem"%>
   
  <% end %>

  <%= form_with(model: @statement, local: true,  html: { style:'display:inline;' }) do |form| %>
    <%= form.hidden_field :status, id: :statement_status, value: "updated"%>
   
      <%= form.submit "Updated"%>
    
  <% end %>

</p>

<hr>
<p>
Activate:
<%= link_to "Activate", activate_statement_path(@statement), local: true, format: :json,  method: :patch %>
</p>

<hr>
<p>
Manual update:
<%= form_with(model: @statement, local: true) do |form| %>

  <%= form.text_field :cache, id: :statement_cache, size: 80%>
  <div class="actions">
    <%= form.submit "Update Cache"%>
  </div>
<% end %>
</p>

<hr>
<%= link_to 'Refresh', refresh_statement_path(@statement), method: :patch%> |
<%= link_to 'Edit', edit_statement_path(@statement) %> |
<%= link_to 'Back', statements_path %>
