<p id="notice"><%= notice %></p>
<ul>
<% @statements.each do |statement| %>
  <li><%= '***alternative***' if !statement.source.selected%><%= statement.source.property[:label] %><%= '@' + statement.source[:language] if !statement.source[:language].empty? %>  --> <%= statement[:cache] %>
<% end %>
</ul>
<%= link_to 'Back', webpages_path %>
