<p id="notice"><%= notice %></p>

<h1> Events <%= @total_events %> </h1>

<br>
<% @events.each do |event| %>
<%= event[:rdf_uri] %><br>
  <%= event[:statements_status] %><br>
  <%= event[:title] %><br>
<%= event[:photo] %>
  <br> <hr>
<% end %>
