<p id="notice"><%= notice %></p>

<h1>Search Exceptions - to be discontinued </h1>

<p> Add names of entities in the Knowledge Graph that should not be used in string searches for auto-linking "performed by", "location" and other linked properties. </p>
<p>For example, the artist name "wiL" should be added to this list because it will match strings like "Wild" and "will" and create many false positives.  Those entities will have to be linked using the Footlight console, until a better NLP can be added that will do Part Of Speech (POS) to avoid matching strings that are not referring to entities. 
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Rdfs class</th>
      <th>URI</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @search_exceptions.each do |search_exception| %>
      <tr>
        <td><%= search_exception.name %></td>
        <td><%= search_exception.rdfs_class.name %></td>
        <td><a href="<%= search_exception.uri %>"><%= search_exception.uri %></a></td>
        <td><%= link_to 'Show', search_exception %></td>
        <td><%= link_to 'Edit', edit_search_exception_path(search_exception) %></td>
        <td><%= link_to 'Destroy', search_exception, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Search Exception', new_search_exception_path %>
