<p id="notice"><%= notice %></p>
<ul>
  <% @resource[:statements].each do |statement| %>

        [<%= statement[1]["status"] %>] <%= statement[1]["label"] %><%=format_language statement[1]["language"] %>
     --> <%= statement[1]["value"] %> alternatives:<%= statement[1][:alternatives] %>

      <br>
      <br>
  <% end %>
</ul>
