<p id="notice"><%= notice %></p>
<ul>
  <% @statements.each do |statement| %>
  <%= statement.source.selected ? "<li>".html_safe : "<ul><li> Alternative".html_safe  %>
        [<%= statement.status %>] <%= statement.source.property[:label] %><%=format_language statement.source[:language] %>
     --> <%= statement[:cache] %>
     <%= statement.source.selected ? "" : "</ul>".html_safe %>
  <% end %>
</ul>
