<%
  # Pick a website just for navigation.
  # Priority:
  #   1. @website set by controller (show/edit/etc.)
  #   2. params[:seedurl]
  #   3. first website in the list
  nav_website =
    if defined?(@website) && @website.present?
      @website
    elsif params[:seedurl].present? && params[:seedurl] != "all"
      Website.find_by(seedurl: params[:seedurl])
    else
      list_of_websites.first
    end
%>

<%= link_to "all websites", websites_path %> >


<% if !nav_website.id.nil? %>
  <b><%= link_to nav_website.seedurl, website_path(nav_website) %></b> |
  <%= link_to "webpages", webpages_path %> |
  <%= link_to "sources",  sources_path %> |
  <%= link_to "events",   events_websites_path(seedurl: nav_website.seedurl) %> |
  <%= link_to "places",   places_path(seedurl: nav_website.seedurl) %> |
<% else %>
  <span class="disabled-link">webpages</span> |
  <span class="disabled-link">sources</span> |
  <span class="disabled-link">events</span> |
  <span class="disabled-link">places</span> |
<% end %>

<%= link_to "statements",     statements_path %> |
<%= link_to "console",        "#{get_console_url_per_environment}/events?seedurl=#{cookies[:seedurl]}" %> ||
<%= link_to "properties",     properties_path %> |
<%= link_to "classes",        rdfs_classes_path %> |
<%= link_to "exceptions",     search_exceptions_path %> |
<%= link_to "JSON-LD",        jsonld_outputs_path %> ||
<%= link_to "test api",       test_api_websites_path %> |
<%= link_to "databus",        databus_index_path %> |
<%= link_to "messages",       messages_path %> |
<%= link_to "job queue",      sidekiq_web_path %>

<br>

<script>
  jQuery(function () {
    jQuery('#filter').on('change', function () {
      var webpage_id = jQuery(this).val();
      window.location.href = "/websites/" + webpage_id;
    });
  });
</script>

