<!DOCTYPE html>
<html>
  <head>
    <title>Condenser <%= " DEV" if Rails.env.development? %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body style="<%= 'background-color: #EE9;' if Rails.env.development? %>">
    <%= render "layouts/header" %>
    <%= render "shared/flash" %>
    <%= yield %>
  </body>
</html>